<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} 
    </main>

    <footer>
        <!-- Pie de página común -->
    </footer>
</body>
</html>
